<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img src="http://allaboutpowerlifting.com/wp-content/uploads/2016/03/blaine.jpg" alt="LiftingLab">
      &nbsp;
      The Lifting Lab
    </a>
    <div class="navbar-burger" data-target="#mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <div id="mobile-menu" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="/programs">All Programs</a>
      <% if(!locals.isAuthenticated) { %>
        <%# <a class="navbar-item" href="/register">Register</a>
        <a class="navbar-item" href="/login">Login</a>
      <% } else { %>
        <%# <a class="navbar-item" href="/logout">Logout</a>
        <a class="navbar-item" href="/programs/new">Add a Program</a>
        <% } %>
    <%# </div>
  </div>
</nav>
