<div id="newForm"class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form method="POST" action="/programs">

        <div class="form-group">
          <label class="label"></label>
          <input name="name" type="text" placeholder="Username" class="form-control">
        </div>

        <div class="form-group">
          <label class="label"></label>
          <input name="email" type="text" placeholder="email" class="form-control">
        </div>

        <div class="form-group">
          <label class="label"></label>
          <input name="password" type="password" placeholder="Password" class="form-control" required>
        </div>

        <div class="form-group">
          <label class="label"></label>
            <input  name="passwordConfirmation" type="password" placeholder="Confirm Password" class="form-control" required>
        </div>
        <div class="control">
          <button type="submit"class="btn btn-success btn-full">Register</button>
        </div>

      </form>
    </div>
  </div>
</div>
