<section class="hero is-large homepage">
  <div class="hero-body">
    <div class="container has-text-right">
      <img src="http://muscleandbrawn.com/wp-content/uploads/2013/09/powerlifting-workout.jpg" id="homeImg" alt="home-img">
    </div>
  </div>
</section>
