<div class="container">
  <form method="POST" action="/programs/<%= program.id %>">
    <input type="hidden" name="_method" value="PUT">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name" value="<%= program.name %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Frequency</label>
      <div class="control">
        <input class="input" name="origin" type="text" placeholder="Frequency" value="<%= program.origin %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image" value="<%= program.image %>">
      </div>
    </div>
    <div class="field">
      <label class="label">Author</label>
      <div class="control">
        <input class="input" name="author" placeholder="author"></input>
      </div>
    </div>
    <div class="field">
      <label class="label">Level</label>
      <div class="control">
        <input class="input" name="level" placeholder="level"></input>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
