<div class="container">
  <div class="row">
    <div class="col-6">
  <form method="POST" action="/programs">

    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name">
      </div>
    </div>

    <div class="field">
      <label class="label">Frequency</label>
      <div class="control">
        <input class="input" name="origin" type="text" placeholder="frequency">
      </div>
    </div>

    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image">
      </div>
    </div>

    <div class="field">
      <label class="label">Level</label>
      <div class="control">
        <select name="level">
          <option>Beginner</option>
          <option>Intermediate</option>
          <option>Advanced</option>
        </select>
      </div>
    </div>

    <div class="field">
      <label class="label"></label>
      <div class="control">
        <% lifts.forEach((lift) => { %>
          <input type="checkbox" name="lift" value="<%= lift.id %>"><%= lift.name %>
          <% }) %>
        </div>
      </div>

      <div class="description">
        <label class="label"></label>
        <div class="control">
          <input class="input" name="description" type="text" placeholder="description">
        </div>
        <div class="control">
          <button type="Submit" class="btn btn-success">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
