<div id="newForm"class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
  <form method="POST" action="/programs">

    <div class="form-group">
      <label class="label"></label>
      <input name="name" type="text" placeholder="Program" class="form-control">
    </div>

    <div class="form-group">
      <label class="label"></label>
      <input name="origin" type="text" placeholder="Frequency" class="form-control">
    </div>

    <div class="form-group">
      <label class="label"></label>
      <input name="image" type="text" placeholder="Image" class="form-control">
    </div>

    <div class="form-group">
      <label class="label"></label>
      <select name="level" class="form-control">
        <option>Beginner</option>
        <option>Intermediate</option>
        <option>Advanced</option>
      </select>
    </div>

    <div class="form-group">
      <label class="label"></label>
      <% lifts.forEach((lift) => { %>
        <input type="checkbox" name="lift" value="<%= lift.id %>"> <%= lift.name %>
        <% }) %>
    </div>

      <div class="form-group">
        <label class="label"></label>
        <input class="form-control" name="description" type="text" placeholder="description">
      </div>

      <div class="control">
        <button type="Submit" class="btn btn-success btn-full">Add Program</button>
      </div>
      </form>
    </div>
  </div>
</div>
