<div class="container">
  <form method="POST" action="/programs">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" name="name" type="text" placeholder="Name">
      </div>
    </div>
    <div class="field">
      <label class="label">Frequency</label>
      <div class="control">
        <input class="input" name="origin" type="text" placeholder="frequency">
      </div>
    </div>
    <div class="field">
      <label class="label">Image</label>
      <div class="control">
        <input class="input" name="image" type="text" placeholder="Image">
      </div>
    </div>
    <div class="field">
      <label class="label">Author</label>
      <div class="control">
        <input class="input" name="author" placeholder="author"></input>
      </div>
    </div>
    <div class="field">
      <label class="label">Level</label>
      <div class="control">
        <select name="level">
          <option>Begginner</option>
          <option>Intermediate</option>
          <option>Advanced</option>
        </select>
      </div>
    </div>
    <%= lifts %>
    <div class="field">
      <label class="label">Lift</label>
      <div class="control">
        <input class="input" name="Lift" placeholder="Lift"></input>
      </div>
    </div>
    <div class="control">
      <button class="button is-primary">Submit</button>
    </div>
  </form>
</div>
